.idea
target
*.iml
dependency-reduced-pom.xml
#so I can uglyfy this file without worries
src/main/java/discordbot/command/fun/MyTestCommand.java
src/main/resources/logback.xml
modules/
src/main/java/META-INF/MANIFEST.MF
*.txt
*.cfg
*.png
audio/
badges/
configs/
neural_net/
required/
temp/
src/main/java/com/github/nija123098/evelyn/helping/TestCommand.java