<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="timeStamp" datePattern="yyyy-MM-dd-HH-mm-ss-SSS" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="CHANNEL" class="com.github.nija123098.evelyn.util.ChannelAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>logs/${timeStamp}.log</file>
    </appender>

    <logger name="console-logger" appender-ref.ref="CONSOLE"/>
    <logger name="channel-logger" appender-ref.ref="CHANNEL"/>
    <logger name="file-logger" appender-ref.ref="FILE"/>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CHANNEL"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>